page-about {
	.header button {
        font-size: 1.5em;
    }

    .scroll-content, .scroll-content a {
        background-color: #ffffff;
        text-align: center;
        color: #000000;
        text-decoration: none;
    }

    .scroll-content p {
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.75);
    }

    #donateButton {
        //background-color: #fff;
        background: linear-gradient(45deg, #ea3e4f 0%, #ff8765 100%);
        color: #000000;
    }
}
