page-guest-login {
	.scroll-content {
		background-color: #ea3e4f;
	}

	#qrIcon {
        font-size: 1.75em;
        margin: 0;
        padding: 0 0.4em;
        height: 100%;
        color: #777;
    	position: relative;
    }
}
