page-new-account {
	.scroll-content {
		background-color: #ffffff;
		color: #000000;
	}

	#closeButton {
        background-color: #fff;
        color: #6e78b9;
    }
    
    .item-md {
    	border-radius: 2px;
   		margin: 20px 0;
    }

    .item-checkbox {
    	background-color: #ffffff;
    	color: #fff;
    }

    .item.item-md .checkbox-md {
    	margin: 9px 9px 9px 4px;
    }

    p, h4, h6 {
    	text-align: center;
    }

    h4 {
    	font-weight: bold;
    }

    #closeButton {
        //background-color: #fff;
        background: linear-gradient(45deg, #ea3e4f 0%, #ff8765 100%);
        color: #000000;
    }
}
