page-fingerprint-wizard {
	.scroll-content {
        //background-color: #ea3e4f;
        background-color: #ffffff;
	}

	#qrIcon {
        font-size: 1.75em;
        margin: 0;
        padding: 0 0.4em;
        height: 100%;
        color: #777;
    	position: relative;
    }

    .item-md {
    	border-radius: 2px;
   		margin: 20px 0;
    }

    #saveButton {
        //background-color: #fff;
        background: linear-gradient(45deg, #ea3e4f 0%, #ff8765 100%);
        color: #000000;
    }
}
